In [19]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
from citipy import citipy

In [34]:
csv = "Bigfoot.csv"
Bigfootraw= pd.read_csv(csv)
Bigfootraw.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [36]:
A_Class_Sightingsdf=Bigfootraw.loc[Bigfootraw["classification"]=="Class A"]
A_Class_Sightingsdf.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [37]:
B_Class_Sightingsdf=Bigfootraw.loc[Bigfootraw["classification"]=="Class B"]
B_Class_Sightingsdf.head()

,number,title,classification,timestamp,latitude,longitude
1895,6486,Report 6486: Special Forces team follows biped...,Class B,1988-03-15T12:00:00Z,69.50000,-156.7500
1896,8792,Report 8792: Four nocturnal hikers get pelted ...,Class B,2003-12-12T12:00:00Z,61.09085,-149.7667
1897,8797,Report 8797: Two boys find footprints on Harri...,Class B,2001-05-13T12:00:00Z,55.45550,-132.7333
1898,11616,Report 11616: Fishermen find footprints east o...,Class B,2004-07-20T12:00:00Z,57.75660,-155.9810
1899,25442,Report 25442: Hunter describes powerful wood k...,Class B,2008-08-20T12:00:00Z,63.98869,-142.7691

In [38]:
C_Class_Sightingsdf=Bigfootraw.loc[Bigfootraw["classification"]=="Class C"]
C_Class_Sightingsdf.head()

,number,title,classification,timestamp,latitude,longitude
3791,483,Report 483: Multiple witnesses describe multip...,Class C,1996-04-15T12:00:00Z,33.94175,-86.17965
3792,1830,Report 1830: Two separate sighting reports of ...,Class C,1975-08-25T12:00:00Z,34.12880,-86.68000
3793,4096,Report 4096: Sighting by truck driver near Fel...,Class C,1980-01-01T12:00:00Z,33.10750,-92.33472
3794,2779,Report 2779: A Local Writer Discusses Her Expe...,Class C,1981-02-15T12:00:00Z,32.71528,-117.15640
3795,25381,Report 25381: Large bipedal figure seen leapin...,Class C,2004-09-15T12:00:00Z,28.21492,-82.45240

In [39]:
city = citipy.nearest_city(latitude=Bigfootraw["latitude"],longitude=Bigfootraw["longitude"])

TypeError: cannot convert the series to <class 'float'>